* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 300px; */
}

.widget-card {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
}

.weather {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    display: none;
}