@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap');

.form {

}

.item {
    font-family: 'Ysabeau Infant', sans-serif;
    margin-bottom: 10px;
}

.deleteBtn {
    margin-left: 15px;
}

.editBtn {
    margin-left: 5px;
}